<div>
  <div class="text-xs-right pull-right">
    <button class="btn btn-primary" id="new-snapshot"> Answer Survey
    </button>
  </div>
  <br />
  <br />
  <h2>'{{surveyTitle}}' snapshots</h2>
  <ul class="list-group" id="snapshots-list">

  </ul>
</div>
