
<div id="card-item">
  <article class="card animated fadeInLeft">

    <div class="card-block">
      <div class="card-title">
        <h4 >Cod: {{family.code}}
          <img class="pull-right" src="/static/images/icon_more.png" >
        </h4>
      </div>
      <br><br>
      <a href="#families/{{family.familyId}}">
        <img class="card-img-top img-responsive  img-card center-block" src="/static/images/family-room.png" alt="" />
  
      </img>
      </a>
        <br><br>
      <p class="organizarion-name text-center">{{family.name}}</p>

    </div>
  </article>

</div>
