
<div class="card-item">
  <article class="card">
    <div class="card-block">
      <div class="row card-title">
        <p class="text-left text-blue">Cod: {{family.code}}</p>
      </div>
      <div class="row card-image">
        <div class="col-md-12">
          <a href="#families/{{family.familyId}}">
            <img class="card-img-top img-responsive  img-card center-block" src="/static/images/family-room.png" alt="" />
          </a>
        </div>
      </div>
      <div class="row card-title">
        <p class="text-center">Family {{family.person.lastName}}</p>
      </div>
    </div>
  </article>

</div>
