

  <div class="col-lg-8">
    <article class="card animated fadeInLeft">
      <div class="card-block">
        <div class="card-title" >
          <h4 >Titulo
            <img class="pull-right" src="/static/images/icon_more.png" >
          </h4>
        </div>
        <h6 class="text-muted"></h6>
        <p class="card-text">Descripcion</p>
      </div>
    </article>
    <article class="card animated fadeInLeft">
      <div class="card-block">
        <div class="card-title" >
          <h4 >Titulo
            <img class="pull-right" src="/static/images/icon_more.png" >
          </h4>
        </div>
        <h6 class="text-muted"></h6>
        <p class="card-text">Descripcion</p>
      </div>
    </article>
  </div>


  <div class="col-lg-4">


      <!-- Card -->
      <article class="card animated fadeInLeft">
        <div class="card-block">
          <div class="card-title">
            <h4 >Titulo
              <img class="pull-right" src="/static/images/icon_more.png" >
            </h4>
          </div>
          <h6 class="text-muted"></h6>
          <p class="card-text">Descripcion</p>
        </div>
      </article>

      <article class="card animated fadeInLeft">
        <div class="card-block">
          <div class="card-title" >
            <h4 >Titulo
              <img class="pull-right" src="/static/images/icon_more.png" >
            </h4>
          </div>
          <h6 class="text-muted"></h6>
          <p class="card-text">Descripcion</p>
        </div>
      </article>

  </div>

</div>
