<img id="floating-survey"  src="/static/images/icon_edit.png" >
<div class="row">
  <div class="col-lg-9">
    <article class="card animated fadeInLeft">
      <div class="card-block">
        <div class="card-title" >
          <h4 >Ficha
            <img class="pull-right" src="/static/images/icon_more.png" >
          </h4>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <img class="img-responsive" style="width:100% !important; height:100% !important;" src="static/images/dummy_barchart.png">
            </div>

            <div class="col-lg-6">
                <p>#FLG4521</p>
                <p>Contacto:<span>Lucia Gonzalez Pedroso</span></p>
                <p>Celular:<span>Lucia Gonzalez Pedroso</span></p>
                <p>Lugar:<span>Lucia Gonzalez Pedroso</span></p>
            </div>

            <div class="col-lg-3">
              <img class="img-responsive pull-right" src="static/images/dummy_barchart.png">
            </div>
        </div>
      </div>
      <br/><br/><br/>
    </article>
    <article class="card animated fadeInLeft">
      <div class="card-block">
        <div class="card-title" >
          <h4 >Prioriades / Snapshot 2017-09
            <img class="pull-right" src="/static/images/icon_more.png" >
          </h4>
        </div>
        <br/>
        <div class="list-priorities">
              <span id="item-number" class="pull-left "> 1 </span>
            <div class="">
            <span> Lorem ipsum dolor  </span><br>
              <span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </span>
            </div>
        </div>
        <br/>
        <div class="list-priorities">
              <span id="item-number" class="pull-left "> 2 </span>
            <div class="">
            <span> Lorem ipsum dolor  </span><br>
              <span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </span>
            </div>
        </div>
        <br/>
        <div class="list-priorities">
              <span id="item-number" class="pull-left "> 3 </span>
            <div class="">
            <span> Lorem ipsum dolor  </span><br>
              <span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </span>
            </div>
        </div>
        <br/>
        <div class="list-priorities">
              <span id="item-number" class="pull-left "> 4 </span>
            <div class="">
            <span> Lorem ipsum dolor  </span><br>
              <span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </span>
            </div>
        </div>
        <br/>
        <div class="list-priorities">
              <span id="item-number" class="pull-left "> 5 </span>
            <div class="">
            <span> Lorem ipsum dolor  </span><br>
              <span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </span>
            </div>
        </div>

      </div>
    </article>
  </div>

  <div class="col-lg-3">
      <!-- Card -->
      <article class="card animated fadeInLeft">
        <div  class="card-block">
          <div class="card-title">
            <h4 >Indicadores / Snapshot 2017-09
              <img class="pull-right" src="/static/images/icon_more.png" >
            </h4>
          </div>

        <div class="" id="snapshot-indicators">
            <img  class="center-block" src="/static/images/icon_semaforo.png">
            <span class="center-block" id="green">25</span>
            <span id="yellow">19</span>
            <span id="red">10</span>



        </div>
      </article>

      <article class="card animated fadeInLeft">
        <div class="card-block" id="card-interventions">
          <div class="card-title" >
            <h4 >Intervenciones
              <img class="pull-right" src="/static/images/icon_more.png" >
            </h4>
          </div>

            <ul class="list-group">
                <li class="list-group-item">
                  <img class="pull-left" src="/static/images/icon_elipse_rojo_01.png" >
                  <img class="pull-right" src="/static/images/icon_interv_conseguido.png" >
                  <p>Lorem ipsun dolor</p>
                  <span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Jdfsdf  </span>
                </li>
                <li class="list-group-item">
                  <img class="pull-left" src="/static/images/icon_elipse_amarillo_01.png" >
                  <img class="pull-right" src="/static/images/icon_interv_noconseguido.png" >
                  <p>Lorem ipsun dolor</p>
                  <span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Jdfsdf  </span>
                </li>
                <li class="list-group-item">
                  <img class="pull-left" src="/static/images/icon_elipse_rojo_01.png" >
                  <img class="pull-right" src="/static/images/icon_interv_proceso.png" >
                  <p>Lorem ipsun dolor</p>
                  <span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.Jdfsdf  </span>
                </li>
            </ul>

        </div>
      </article>

  </div>
</div>
</div>
