<div class="row">
  <div class="col-md-12">
    <div class="list-common-content">
      <div id="top" class="search-container">
        <div class="row">
          <div class="col-md-3">
            <input name="data[search]" class="form-control search" id="search" type="text" placeholder="Find a User">
          </div>
          <div class="col-md-9">
            <span class="view-items-left-content" style="display:none">
            </span>
            <span class="view-items-right-content" style="display:none">
            </span>
            <a id="add-new" class="floating-organization floating-buttom" href="#users/new" style="display: none">
            </a>
          </div>
        </div>
      </div>
      <div id="user-list" class="has-spinner">
      </div>
    </div>
  </div>
</div>
