<div id="top" class="search-container">
  <a id="add-new" href="#users/new">
    <img class="floating-organization" src="/static/images/icon_agregar_usuario.png" title="Add a new User">
  </a>
</div>

<div class="row">
  <div class="col-lg-4">
    <div id="user-list" class="list-container">
<h2>Usuarios</h2>
{{#each users}}
<p>
    <strong>{{attributes.username}}</strong><br>
</p>
{{/each}}
    </div>
  </div>
</div>
