
<div id="family-snapshots">
</div>

<article class="card" style="padding-left:10px; padding-right:10px;">
  <div class="card-block">
    <div class="card-title row">
      <h2 class="text-left text-blue text-center" >{{$t 'home.snapshots-taken'}}</h2>
    </div>
    <br>
    <div class="row">
      <div id="dvSnapshotsTable"  class="">
      </div>
  </div>
</article>
