<!-- <div class="text-center">
    <h2 class="title-gray">{{$t 'home.snapshots-taken'}}</h2>
</div> -->
<div id="family-snapshots">
</div>
<article class="card">
  <div class="card-block">
    <div class="card-title row">
      <h2 class="text-left text-blue text-center" >{{$t 'home.snapshots-taken'}}</h2>

    </div>
    <div id="dvSnapshotsTable" style="height:400px; overflow:auto;">
    </div>
</article>
