<div class="card-item">
  <!-- Card -->
  <article class="card">
    <div class="card-block">
      <div class="row card-title">
        <p class="text-left text-blue" title="{{{organization.name}}}">{{organization.name}}</p>
      </div>
      <div class="row card-image">
        <div class="col-md-12">
          <a href="#organizations/{{organization.id}}">
            <img class="card-img-top img-responsive  img-card center-block" src="{{logoUrl}}" alt="" />
          </a>
        </div>
      </div>
      <div class="row card-menu">
        <div class="col-md-6 col-xs-6">
          <a class="card-menu-item card-menu-edit" href="#"></a>
        </div>
        <div class="col-md-6 col-xs-6">
          <a class="card-menu-item card-menu-delete" href="#"></a>
        </div>
      </div>
    </div>
  </article>
  <!-- .end Card -->
</div>
