<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <article class="card">

      <div class="card-block">
        <div class="row">
          <div class="col-md-12">
            <div class="card-title">
              <h4> Add a Company
                <img class="pull-right" src="/static/images/icon_more.png">
              </h4>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="margin-tb-35px" id="img-cam">
              <img class="card-img-top img-responsive center-block" src="/static/images/icon_camara.png" alt="" />
              <p class="text-center">Drag and drop an image here</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="fp-form-container padding-b-30px" id="add-organization">
              <form data-toggle="validator" role="form" class="form-vertical" id="form">
                <div class="alert alert-warning" style="display:none">
                  <strong>Attention! All the fields with * are mandatory</strong>
                </div>
                <div class="form-group">
                  <input value="{{organization.name}}" type="text" class="input-bg-gray form-control" name="name" value="" placeholder="Company's name"
                    required>
                </div>
                <div class="form-group">
                  <input value="{{organization.description}}" type="text" class="input-bg-gray form-control" name="description" placeholder="Phone" required>
                </div>
                <div class="form-group">
                  <input value="{{organization.description}}" type="text" class="input-bg-gray form-control" name="description" placeholder="Contact" required>
                </div>
                <div class="form-group">
                  <input value="{{organization.description}}" type="text" class="input-bg-gray form-control" name="description" placeholder="Email" required>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-12">
                      <button type="submit" name="register-submit" id="submit" class="btn" value="Save">ADD COMPANY</button>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="text-center">
                    <a href="#organizations" id="cancel" tabindex="5" class="">Cancel</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
