<div class="row">
  <div class="col-md-12">
    <h2 class="text-center text-blue">FAQ's</h2>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel-group" id="faqAccordion">
          <div class="faqHeader" style=""><h3 class="text-gray">General questions</h3></div>
          <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
              <h4 class="panel-title">Q: What is the Poverty Stoplight Platform?</h4>
            </div>
            <div id="question0" class="panel-collapse collapse">
              <div class="panel-body">
                <h5><span class="label label-primary">Answer</span></h5>
                <p> It’s the platform to manage and implement the Poverty Stoplight Methodology. </p>
                <p> The main functions are: </p>
                <ul>
                  <li>Manage Stoplight forms</li>
                  <li>Apply Stoplight forms</li>
                  <li>Data visualization</li>
                  <li>Management of families implementing the Stoplight methodology</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
              <h4 class="panel-title">Q: Who should I contact in case of doubts?</h4>
            </div>
            <div id="question1" class="panel-collapse collapse">
              <div class="panel-body">
                <h5><span class="label label-primary">Answer</span></h5>
                <p>In case of unsolved questions or doubts after reading these FAQ, please contact your platform administration or mail us at
                  <a href="http://support@povertystoplight.org">support@povertystoplight.org </a> </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
              <h4 class="panel-title">Q: Is my information of public access?</h4>
            </div>
            <div id="question2" class="panel-collapse collapse">
              <div class="panel-body">
                <h5><span class="label label-primary">Answer</span></h5>
                <p>Your data is not public. Every country has its own privacy rules, with restrict access to data even more.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
              <h4 class="panel-title">Q: Can I visualize data from other organizations?</h4>
            </div>
            <div id="question3" class="panel-collapse collapse">
              <div class="panel-body">
                <h5><span class="label label-primary">Answer</span></h5>
                <p>Users with data visualization permissions can only view data from the families that correspond to their own organizations.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question4">
              <h4 class="panel-title">Q: Can I prevent my family’s stoplight from being stored?</h4>
            </div>
            <div id="question4" class="panel-collapse collapse">
              <div class="panel-body">
                <h5><span class="label label-primary">Answer</span></h5>
                <p>Yes, you can. You can choose not to store your information when you finish completing the form. </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question5">
              <h4 class="panel-title">Q: Can I delete my family’s information?
                    </h4>

            </div>
            <div id="question5" class="panel-collapse collapse">
              <div class="panel-body">
                <h5><span class="label label-primary">Answer</span></h5>

                <p>Yes, you can. To delete your family’s information, please contact the person or organization with which you took the stoplight.</p>
              </div>
            </div>
          </div>
          <div class="faqHeader" style=""><h3 class="text-gray">About using the platform</h3></div>
          <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question6">
              <h4 class="panel-title">
                          Q: How do I visualize the organizations and their information?
                    </h4>

            </div>
            <div id="question6" class="panel-collapse collapse">
              <div class="panel-body">
                <h5><span class="label label-primary">Answer</span></h5>

                <p>When logging into the system with permissions to visualize other organizations, you should follow these steps:</p>
                <ul>
                  <li>Click the <i>Organizations</i> option in the main menu</li>
                  <li>Search for the organizations with the available filters</li>
                  <li>Click on one of the organizations listed</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question7">
              <h4 class="panel-title">
                          Q: How do I visualize a family?
                    </h4>

            </div>
            <div id="question7" class="panel-collapse collapse">
              <div class="panel-body">
                <h5><span class="label label-primary">Answer</span></h5>
                <h3>Option 1</h3>
                <p>When logging into the system and visualizing the Families option in the main menu, follow these steps:</p>
                <ul>
                  <li>Click the <i>Families</i> option in the main menu</li>
                  <li>Search for the families with the available filters</li>
                  <li>Click on one of the families listed</li>
                </ul>
                <br/>
                <h3>Option 2</h3>
                <p>When you are on the Organization’s Dashboard, follow these steps:</p>
                <ul>
                  <li>Click the <i>Families</i> option in the organization’s sub menu</li>
                  <li>Search for the families with the available filters</li>
                  <li>Click on one of the families listed</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question8">
              <h4 class="panel-title">
                          Q: How do I visualize a family’s snapshot?
                    </h4>

            </div>
            <div id="question8" class="panel-collapse collapse">
              <div class="panel-body">
                <h5><span class="label label-primary">Answer</span></h5>
                <p>When you are on a Family’s Dashboard, follow the steps below:</p>
                <ul>
                  <li>Click on the <i>Snapshots</i> option in the sub menu</li>
                  <li> Click on one of the snapshots</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question9">
              <h4 class="panel-title">
                          Q: How do I apply a survey to a family?
                    </h4>

            </div>
            <div id="question9" class="panel-collapse collapse">
              <div class="panel-body">
                <h5><span class="label label-primary">Answer</span></h5>
                <p>When logging into the system with permissions to complete surveys, follow these steps:</p>
                <ul>
                  <li>Click on the <i>Surveys</i> option on the main menu</li>
                  <li>Click on the <i>Take this Survey icon</i> <span class="glyphicon glyphicon-share-alt"></span> of one of the surveys listed</li>
                  <li>Complete the survey in order</li>
                </ul>
              </div>
            </div>
          </div>

        </div>
        <!--/panel-group-->

      </div>
    </div>
  </div>
</div>
