<div class="row">
  <div class="col-md-12">
    <h2 class="text-center text-blue">FAQ's</h2>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="panel-group" id="faqAccordion">
          <div class="faqHeader" style=""><h3 class="text-gray">Preguntas generales</h3></div>
          <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
              <h4 class="panel-title">Q: ¿Qué es la Plataforma del Semáforo de la Pobreza?</h4>
            </div>
            <div id="question0" class="panel-collapse collapse">
              <div class="panel-body">
                <h5><span class="label label-primary">Respuesta</span></h5>
                <p> La plataforma es para administrar e implementar la Metodología de semáforo de pobreza. </p>
                <p> Las principales funciones son: </p>
                <ul>
                  <li>Administrar formularios de semáforo</li>
                  <li>Aplicar formularios del semáforo</li>
                  <li>Visualización de datos</li>
                  <li>Gestión de familias que implementan la metodología de semáforo</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
              <h4 class="panel-title">Q: ¿A quién debo contactar en caso de dudas?</h4>
            </div>
            <div id="question1" class="panel-collapse collapse">
              <div class="panel-body">
                <h5><span class="label label-primary">Respuesta</span></h5>
                <p>En caso de preguntas no resueltas o dudas después de leer estas preguntas frecuentes, contáctese con la administración de su plataforma o envíenos un correo electrónico a
                  <a href="http://support@povertystoplight.org">support@povertystoplight.org </a> </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
              <h4 class="panel-title">Q: Es mi información de acceso público?</h4>
            </div>
            <div id="question2" class="panel-collapse collapse">
              <div class="panel-body">
                <h5><span class="label label-primary">Respuesta</span></h5>
                <p>Tus datos no son públicos Cada país tiene sus propias reglas de privacidad, con restringir el acceso a los datos aún más.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
              <h4 class="panel-title">Q: ¿Puedo visualizar datos de otras organizaciones?</h4>
            </div>
            <div id="question3" class="panel-collapse collapse">
              <div class="panel-body">
                <h5><span class="label label-primary">Respuesta</span></h5>
                <p>Los usuarios con permisos de visualización de datos solo pueden ver datos de las familias que corresponden a sus propias organizaciones.</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question4">
              <h4 class="panel-title">Q: ¿Puedo evitar que se guarde el semáforo de mi familia?</h4>
            </div>
            <div id="question4" class="panel-collapse collapse">
              <div class="panel-body">
                <h5><span class="label label-primary">Respuesta</span></h5>
                <p>Sí tu puedes. Puede elegir no almacenar su información cuando termine de completar el formulario. </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question5">
              <h4 class="panel-title">Q: ¿Puedo eliminar la información de mi familia?
                    </h4>

            </div>
            <div id="question5" class="panel-collapse collapse">
              <div class="panel-body">
                <h5><span class="label label-primary">Respuesta</span></h5>
                <p>Sí tu puedes. Para eliminar la información de su familia, póngase en contacto con la persona u organización con la que tomó el semáforo.</p>
              </div>
            </div>
          </div>
          <div class="faqHeader" style=""><h3 class="text-gray">Sobre como operar en la plataforma</h3></div>
          <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question6">
              <h4 class="panel-title">
                          Q: ¿Cómo visualizo las organizaciones y su información?
                    </h4>

            </div>
            <div id="question6" class="panel-collapse collapse">
              <div class="panel-body">
                <h5><span class="label label-primary">Respuesta</span></h5>

                <p>Al iniciar sesión en el sistema con permisos para visualizar otras organizaciones, debe seguir estos pasos:</p>
                <ul>
                  <li>Haga clic en<i>Organizaciones</i> de la opción en el menú principal</li>
                  <li>Busque las organizaciones con los filtros disponibles</li>
                  <li>Haga clic en una de las organizaciones de la lista</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question7">
              <h4 class="panel-title">
                          Q: ¿Cómo visualizo una familia?
                    </h4>

            </div>
            <div id="question7" class="panel-collapse collapse">
              <div class="panel-body">
                <h5><span class="label label-primary">Respuesta</span></h5>
                <h3>Opción 1</h3>
                <p>Al iniciar sesión en el sistema y visualizar la opción Familias en el menú principal, siga estos pasos:</p>
                <ul>
                  <li>Haga clic en <i>Familias</i> de la opción en el menu principal</li>
                  <li>Busque las familias con los filtros disponibles</li>
                  <li>Haga clic en una de las familias de la lista</li>
                </ul>
                <br/>
                <h3>Opción 2</h3>
                <p>Cuando se encuentre en el Tablero de la organización, siga estos pasos:</p>
                <ul>
                  <li>Haga clic en <i>Familias</i> en el submenú de la organización</li>
                  <li>Busque las familias con los filtros disponibles</li>
                  <li>Haga clic en una de las familias enumeradas</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question8">
              <h4 class="panel-title">
                          Q: ¿Cómo visualizo un snapshot de una familia?
                    </h4>

            </div>
            <div id="question8" class="panel-collapse collapse">
              <div class="panel-body">
                <h5><span class="label label-primary">Respuesta</span></h5>
                <p>Cuando esté en el Tablero de la familia, siga los pasos a continuación:</p>
                <ul>
                  <li>Clickea en <i>Snapshots</i> en el submenú</li>
                  <li>Haga clic en una de los snapshots</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question9">
              <h4 class="panel-title">
                          Q: ¿Cómo aplico una encuesta a una familia?
                    </h4>

            </div>
            <div id="question9" class="panel-collapse collapse">
              <div class="panel-body">
                <h5><span class="label label-primary">Respuesta</span></h5>
                <p>Al iniciar sesión en el sistema con permisos para completar encuestas, siga estos pasos:</p>
                <ul>
                  <li>Clickea en <i>Encuestas</i> en el menú principal</li>
                  <li>Clickea en <i>el icono de encuesta</i> <span class="glyphicon glyphicon-share-alt"></span> de una de las encuestas de la lista</li>
                  <li>Complete la encuesta en el orden establecido</li>
                </ul>
              </div>
            </div>
          </div>

        </div>
        <!--/panel-group-->

      </div>
    </div>
  </div>
</div>
