<div class="list-common-content">
  <div id="top" class="search-container">
    <div class="row">
      <div class="col-md-12">
        <form class="form-inline">
          <div class="form-group">
            <label>Fecha desde * :</label>
            <div class='input-group date' id='dateFrom'>
                <input id="date1" value={{filters.dateFrom}} type='text' class="form-control" placeholder="DD/MM/YYYY" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>            
          </div>
          <div class="form-group">
            <label>Fecha hasta * :</label>
            <div class='input-group date' id='dateTo'>
                <input id="date2" value={{filters.dateTo}} type='text' class="form-control" placeholder="DD/MM/YYYY" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>            
          </div>
          <div class="form-group">
              <label>Organizacion * : </label>
              <select class="form-control" id="organization">
                  <option selected disabled>{{$t 'family.search.choose'}}</option>
                  <option value="all">Todas</option>
              </select>
          </div>
          <div class="form-group">
            <button type="button" id="submit" class="btn btn"><i class="fa fa-search"></i> {{$t 'family.search.search'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="family-organization-list" class="has-spinner">
      
  </div>
</div>
