<div class="row">
  <div class="col-md-3 col-xs-6">
    <article class="card animated fadeInLeft">
      <div  class="card-block">
        <div class="card-title">
          <h4 >Snapshot 2015-01
            <img class="pull-right" src="/static/images/icon_more.png" >
          </h4>
        </div>

        <div class="" id="snapshot-indicators" >
          <div class="luces">
            <br>
            <span class="center-block" id="green">{{family.snapshot_indicators.count_green_indicators}}</span>
            <span class="center-block" id="yellow">{{family.snapshot_indicators.count_yellow_indicators}}</span>
            <span class="center-block" id="red">{{family.snapshot_indicators.count_red_indicators}}</span>
          </div>
        </div>
    </article>

  </div>

  <div class="col-md-9 col-xs-6 ">
    <article class="card animated fadeInLeft">
      <div class="card-block">
        <div class="card-title" >
          <h4 >Prioriades
            <img class="pull-right" src="/static/images/icon_more.png" >
          </h4>
        </div>
        <br/>
        <div class="list-priorities">
            <span id="item-number" class="pull-left "> 1 </span>
            <div class="">
            <span> Lorem ipsum dolor  </span><br>
              <span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </span>
            </div>
        </div>
        <br/>
        <div class="list-priorities">
            <span id="item-number" class="pull-left "> 2 </span>
            <div class="">
            <span> Lorem ipsum dolor  </span><br>
              <span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </span>
            </div>
        </div>
        <br/>
        <div class="list-priorities">
            <span id="item-number" class="pull-left "> 3 </span>
            <div class="">
            <span> Lorem ipsum dolor  </span><br>
              <span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </span>
            </div>
        </div>
        <br/>
        <div class="list-priorities">
            <span id="item-number" class="pull-left "> 4 </span>
            <div class="">
            <span> Lorem ipsum dolor  </span><br>
              <span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </span>
            </div>
        </div>
        <br/>
        <div class="list-priorities">
            <span id="item-number" class="pull-left "> 5 </span>
            <div class="">
            <span> Lorem ipsum dolor  </span><br>
              <span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </span>
            </div>
        </div>
      </div>
    </article>
  </div>
</div>
<br/>
<div class="row">
    <div class="col-lg-12">
      <article class="card animated fadeInLeft">
        <div  class="card-block">
          <div class="card-title">
            <h4 >Indicadores
              <img class="pull-right" src="/static/images/icon_more.png" >
            </h4>
          </div>
          <br/>
            <div class="" >
          <table class="table table-bordered" id="table">
 		            <tbody>
                   <tr>
                     <td><img class="center-block" src="/static/images/icon_elipse_verde_02.png" > <br> <p class="text-center article-title">Indicador 1</p></td>
                     <td><img class="center-block" src="/static/images/icon_elipse_amarillo_02.png" > <br> <p class="text-center article-title">Indicador 2</p></td>
                     <td><img class="center-block" src="/static/images/icon_elipse_rojo_02.png" > <br> <p class="text-center article-title">Indicador 3</p></td>
                     <td><img class="center-block" src="/static/images/icon_elipse_amarillo_02.png" > <br> <p class="text-center article-title">Indicador 4</p></td>
                     <td><img class="center-block" src="/static/images/icon_elipse_verde_02.png" > <br> <p class="text-center article-title">Indicador 5</p></td>
                     <td><img class="center-block" src="/static/images/icon_elipse_verde_02.png" > <br> <p class="text-center article-title">Indicador 6</p></td>
                     <td><img class="center-block" src="/static/images/icon_elipse_verde_02.png" > <br> <p class="text-center article-title">Indicador 7</p></td>
                     <td><img class="center-block" src="/static/images/icon_elipse_amarillo_02.png" > <br> <p class="text-center article-title">Indicador 8</p></td>
                     <td><img class="center-block" src="/static/images/icon_elipse_verde_02.png" > <br> <p class="text-center article-title">Indicador 9</p></td>
                     <td><img class="center-block" src="/static/images/icon_elipse_rojo_02.png" > <br> <p class="text-center article-title">Indicador 10</p></td>

                   </tr>
                   <tr>
                     <td><img class="center-block" src="/static/images/icon_elipse_rojo_02.png" > <br> <p class="text-center article-title">Indicador 11</p></td>
                     <td><img class="center-block" src="/static/images/icon_elipse_amarillo_02.png" > <br> <p class="text-center article-title">Indicador 12</p></td>
                     <td><img class="center-block" src="/static/images/icon_elipse_verde_02.png" > <br> <p class="text-center article-title">Indicador 13</p></td>
                     <td><img class="center-block" src="/static/images/icon_elipse_verde_02.png" > <br> <p class="text-center article-title">Indicador 14</p></td>
                     <td><img class="center-block" src="/static/images/icon_elipse_verde_02.png" > <br> <p class="text-center article-title">Indicador 15</p></td>
                     <td><img class="center-block" src="/static/images/icon_elipse_verde_02.png" > <br> <p class="text-center article-title">Indicador 16</p></td>
                     <td><img class="center-block" src="/static/images/icon_elipse_verde_02.png" > <br> <p class="text-center article-title">Indicador 17</p></td>
                     <td><img class="center-block" src="/static/images/icon_elipse_amarillo_02.png" > <br> <p class="text-center article-title">Indicador 18</p></td>
                     <td><img class="center-block" src="/static/images/icon_elipse_verde_02.png" > <br> <p class="text-center article-title">Indicador 19</p></td>
                     <td><img class="center-block" src="/static/images/icon_elipse_rojo_02.png" > <br> <p class="text-center article-title">Indicador 20</p></td>

                   </tr>
                   <tr>
                     <td><img class="center-block" src="/static/images/icon_elipse_verde_02.png" > <br> <p class="text-center article-title">Indicador 21</p></td>
                     <td><img class="center-block" src="/static/images/icon_elipse_verde_02.png" > <br> <p class="text-center article-title">Indicador 22</p></td>
                     <td><img class="center-block" src="/static/images/icon_elipse_verde_02.png" > <br> <p class="text-center article-title">Indicador 23</p></td>
                     <td><img class="center-block" src="/static/images/icon_elipse_rojo_02.png" > <br> <p class="text-center article-title">Indicador 24</p></td>
                     <td><img class="center-block" src="/static/images/icon_elipse_verde_02.png" > <br> <p class="text-center article-title">Indicador 25</p></td>
                     <td><img class="center-block" src="/static/images/icon_elipse_amarillo_02.png" > <br> <p class="text-center article-title">Indicador 26</p></td>
                     <td><img class="center-block" src="/static/images/icon_elipse_verde_02.png" > <br> <p class="text-center article-title">Indicador 27</p></td>
                     <td><img class="center-block" src="/static/images/icon_elipse_amarillo_02.png" > <br> <p class="text-center article-title">Indicador 28</p></td>
                     <td><img class="center-block" src="/static/images/icon_elipse_verde_02.png" > <br> <p class="text-center article-title">Indicador 29</p></td>
                     <td><img class="center-block" src="/static/images/icon_elipse_verde_02.png" > <br> <p class="text-center article-title">Indicador 30</p></td>

                   </tr>

 		           </tbody>
 		     </table>
       </div>

      </article>

    </div>
</div>
