
<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
  <div class="card-item">
    <article class="card">
      <div class="card-block">
        <div class="row card-title">
          <p class="text-left text-blue">{{snapshotDraft.first_name}} {{snapshotDraft.last_name}}</p>
        </div>
        
          <div class="row card-description">
                <h5 class="card-text-sub-title text-blue">{{$t 'draft.created'}}:</h5>
                <p class="card-text">{{snapshotDraft.created_at}}</p>
          </div>
        
        <div class="row card-menu">
          <div class="col-md-6 col-xs-6">
            <a class="card-menu-item card-menu-edit edit-draft-btn" href="#"></a>
          </div>
          <div class="col-md-6 col-xs-6">
            <a class="card-menu-item card-menu-delete delete-draft-btn" href="#"></a>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
