
<div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
  <div class="card-item">
    <article class="card">
      <div class="card-block">
        <div class="row card-title">
          <p class="text-left text-blue">{{snapshotDraft.first_name}} {{snapshotDraft.last_name}}</p>
        </div>
        <a class="answer-area" href="#">
          <div class="row card-description">
                <h5 class="card-text-sub-title text-blue">Created at:</h5>
                <p class="card-text">{{snapshotDraft.created_at}}</p>
          </div>
        </a>
      </div>
    </article>
  </div>
</div>
