<div id="top" class="search-container">
  <input name="data[search]" class="form-control search" id="search" type="text" placeholder="Find a Company">

</div>


<div id="organization-list" class="has-spinner">
</div>
