<ul class="breadcrumb pull-right">
    <li><a href="/">Home</a></li>
    <li><a >Collaborators</a></li>
    <li class="active">Hub</li>
</ul>
<div id="top" class="search-container">
  <input name="data[search]" class="form-control search" id="search" type="text" placeholder="Find a Company">

</div>

<div class="row">
  <div id="organization-list" class="has-spinner">
  </div>
</div>
