
<div id="top" class="search-container">
  <input name="data[search]" class="form-control search" id="search" type="text" placeholder="Find a Hub">

</div>

<div class="row">
  <div id="hub-list" class="has-spinner">


  </div>
</div>
