<div class="list-common-content">
  <div id="top" class="search-container">
    <div class="row">
      <div class="col-md-4">
          <div class="form-group">
              <input name="data[search]" class="form-control" id="search" type="text" placeholder="{{$t 'family.search.name-code-parameter'}}">
          </div>
      </div>
        <div class="col-md-3">
          <div class="form-group">
            <button type="button" id="submit" class="btn btn"><i class="fa fa-search"></i> {{$t 'family.search.search'}}</button>
          </div>

      </div>
    </div>
  </div>
  <div id="family-list" class="has-spinner">
  </div>
</div>
