<div id="top" class="search-container">

<a id="add-new" style="cursor: pointer;">
    <img class="floating-organization" src="/static/images/icon_agregar_encuesta.png" title="Add a new survey">
  </a>


</div>
<br/>
<div>
  <ul id="survey-list" class="list-group">

  </ul>
</div>
