@import "typography/typography";

#content {
  margin: 60px;
}

a {
  transition: 0.25s all;
}

.navbar-brand {
  padding: 0px;
  > img {
    height: 100%;
    padding: 15px;
    width: auto;
  }
}

.fp-navbar {
  background-color: #26e462;
  .navbar-nav {
    > li > a {
      color: #fff;
    }

    > .active > a,
    .navbar-default .navbar-nav > .active > a:focus,
    .navbar-default .navbar-nav > .active > a:hover {
      background-color: #29a74f;
    }

    > .open > a,
    .navbar-default .navbar-nav > .open > a:focus,
    .navbar-default .navbar-nav > .open > a:hover {
      background-color: #29a74f;
    }
  }
}

#sub-header {
  background-color: #ffffff;
  font-family: "helvetica-regular", Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 50px;
  margin-bottom: 0px !important;
  min-width: 770px;
  z-index: 100;
  border-color: rgba(#333, 0.85);

  .navbar-collapse.collapse {
    height: 40px;
  }

  a.navbar-brand {
    padding: 10px 15px;
    line-height: 30px;
  }
}

div.fp-form {
  border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);

  > .panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align: center;

    a {
      text-decoration: none;
      color: #666;
      font-weight: bold;
      font-size: 15px;
      -webkit-transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
      transition: all 0.1s linear;
    }

    a.active {
      color: #029f5b;
      font-size: 18px;
    }
  }
}

div.fp-form {
  > .panel-heading {
    hr {
      margin-top: 10px;
      margin-bottom: 0px;
      clear: both;
      border: 0;
      height: 1px;
      background-image: -webkit-linear-gradient(
        left,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0)
      );
      background-image: -moz-linear-gradient(
        left,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0)
      );
      background-image: -ms-linear-gradient(
        left,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0)
      );
      background-image: -o-linear-gradient(
        left,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0)
      );
    }
  }
}

div.fp-form {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  span.btn {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
  input:hover,
  input:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
  }

  .cancel-btn-container {
    text-align: center;
  }

  .cancel-btn {
    text-decoration: underline;
    color: #888;
  }
  .cancel-btn:hover,
  .cancel-btn:focus {
    text-decoration: underline;
    color: #666;
  }

  .save-btn {
    background-color: #1cb94e;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1cb94a;
  }
  .save-btn:hover,
  .save-btn:focus {
    color: #fff;
    background-color: #1ca347;
    border-color: #1ca347;
  }
}

// Box shadow helper
@mixin BoxShadowHelper($level: 1) {
  @if $level == 1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
      0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  @if $level == 2 {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
      0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }
}

.card {
  overflow: hidden;
  @include BoxShadowHelper(1);
  transition: 0.25s box-shadow;
  &:focus,
  &:hover {
    @include BoxShadowHelper(2);
  }
}
.card-inverse .card-img-overlay {
  background-color: rgba(#333, 0.85);
  border-color: rgba(#333, 0.85);
}

.card img {
  width: 100px;
  height: 100px;
  background: white url("/static/images/image-loader.gif") no-repeat center;
  margin: 0 2px;
}

.search-container {
  display: flex;
  justify-content: space-between;
}

.search-container > input {
  min-width: 250px;
  max-width: 350px;
  width: 33%;
  padding: 4px;
}

.list-container {
  margin-top: 15px;
  overflow: hidden; /* simple clearfix */
}

.list-container > div {
  float: left;
  min-width: 15%;
  padding: 10px;
}

/* but this is not removing the float: */
@media only screen and (min-width: 150px) and (max-width: 780px) {
  .list-container > div {
    float: none;
    min-width: 25%;
    padding: 10px;
  }
}

.list-container article.card {
  margin: 0px;
}

.list-group-item{
  margin: 10px;
}

.indicator-circle-snapshot{
  text-align: center;
  width: auto;
  height: auto;
}

.indicator-circle-snapshot > div{
  max-width: 100px;
  max-height: 100px;
}

.indicator-circle-snapshot > figcaption{
   text-align: center;
   font-weight: bold;
 }


.indicators-snapshot {
  column-count: 6;
}

.circle-content {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.circle-header {
  width: 20px;
  height: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}


.red {
  background: red;
}

.green {
  background: green;
}

.yellow {
  background: yellow;
}

.indicator-circle-snapshot > p {
  text-align: center;
} 

.indicator-circle-snapshot > div {
  margin: 0 auto;
  
} 

.indicator-circle-snapshot {
  text-align: center;
}

.header-indicators-snapshot{
  min-height: 20px;  
}

.header-indicators-snapshot > h3 {
  font-weight: bold;
}

.header-resume{
  column-count: 6;
}

.header-resume > p{
  font-weight: bold;
}
// GALLERY WIDGET

.gallery-image > figure > img {
  opacity: 0.5;
  min-height: 240px;
  max-width: 360px; 
}

.gallery-image > figure {
  float: left;
  margin: 10px;
  min-height: 300px;
}

.gallery-image > figure > figcaption {
  max-width: 360px;
  margin: 10px;
  text-align: justify;
}


.gallery-image.gallery-selected > figure > img {
  opacity: 1;
  min-height: 250px;
  max-width: 370px; 
}

.field-gallery > div {
  min-height: 430px;
  max-width: 1200px;
}

//MAP WIDGET
.gmap {
  min-width: 800px !important;
  min-height: 600px !important;
  position: relative !important;
}

