@import "typography/typography";

#content {
  margin: 60px;
}

a {
  transition: 0.25s all;
}

.navbar-brand {
  padding: 0px;
  > img {
    height: 100%;
    padding: 5px;
    width: auto;
  }
}


.fp-navbar {
  background-color: #7cd071;
  .navbar-nav {
    > li {
      border-right: 1px solid #50aa47;
    }
    > li > a {
      color: #ffffff;
      font-family: "Roboto";
      font-weight: 400;
      font-size: 13px;
    }

    > .active > a,
    .navbar-default .navbar-nav > .active > a:focus,
    .navbar-default .navbar-nav > .active > a:hover {
      background-color: #71bf67 !important;
    }

    > .open > a,
    .navbar-default .navbar-nav > .open > a:focus,
    .navbar-default .navbar-nav > .open > a:hover {
      background-color: #29a74f;
    }
    > .navbar-brand-right {
      border-left: 1px solid #50aa47;
      border-right: 0px;
      > img {
        height: auto;
        padding: 5px;
        width: 59%;
      }
    }
  }
}

#sub-header {
  background-color: #f9f9f9;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 50px;
  margin-bottom: 0px !important;
  min-width: 770px;
  z-index: 100;
  border-bottom: 1px solid #8c8c8c;

  .navbar-collapse.collapse {
    height: 40px;
  }

  a.navbar-brand {
    padding: 10px 15px;
    line-height: 30px;
  }
}

div.fp-form {
  border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);

  > .panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align: center;

    a {
      text-decoration: none;
      color: #666;
      font-weight: bold;
      font-size: 15px;
      -webkit-transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
      transition: all 0.1s linear;
    }

    a.active {
      color: #029f5b;
      font-size: 18px;
    }
  }
}

div.fp-form {
  > .panel-heading {
    hr {
      margin-top: 10px;
      margin-bottom: 0px;
      clear: both;
      border: 0;
      height: 1px;
      background-image: -webkit-linear-gradient(
        left,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0)
      );
      background-image: -moz-linear-gradient(
        left,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0)
      );
      background-image: -ms-linear-gradient(
        left,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0)
      );
      background-image: -o-linear-gradient(
        left,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0)
      );
    }
  }
}

div.fp-form {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  span.btn {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
  input:hover,
  input:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
  }

  .cancel-btn-container {
    text-align: center;
  }

  .cancel-btn {
    text-decoration: underline;
    color: #888;
  }
  .cancel-btn:hover,
  .cancel-btn:focus {
    text-decoration: underline;
    color: #666;
  }

  .save-btn {
    background-color: #1cb94e;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1cb94a;
  }
  .save-btn:hover,
  .save-btn:focus {
    color: #fff;
    background-color: #1ca347;
    border-color: #1ca347;
  }
}

// Box shadow helper
@mixin BoxShadowHelper($level: 1) {
  @if $level == 1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
      0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  @if $level == 2 {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
      0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }
}

.card {
  overflow: hidden;
  @include BoxShadowHelper(1);
  transition: 0.25s box-shadow;
  &:focus,
  &:hover {
    @include BoxShadowHelper(2);
  }
}
.card-inverse .card-img-overlay {
  background-color: rgba(#333, 0.85);
  border-color: rgba(#333, 0.85);
}

.card img {
  width: 100px;
  height: 100px;
  background: white url("/static/images/image-loader.gif") no-repeat center;
  margin: 0 2px;
}

.search-container {
  display: flex;
  justify-content: space-between;
}

.search-container > input {
  min-width: 250px;
  max-width: 350px;
  width: 33%;
  padding: 4px;
}

.list-container {
  margin-top: 15px;
  overflow: hidden; /* simple clearfix */
}

.list-container > div {
  float: left;
  min-width: 15%;
  padding: 10px;
}

/* but this is not removing the float: */
@media only screen and (min-width: 150px) and (max-width: 780px) {
  .list-container > div {
    float: none;
    min-width: 25%;
    padding: 10px;
  }
}

.list-container article.card {
  margin: 0px;
}


.footer{
  background-image: linear-gradient(270deg, #599dd1, #95e78b );
  position: absolute;
  right: 0;
  bottom: 0.3em;
  left: 0;
  padding: 10px;
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 10px;

}
.card-title {
  border-bottom: 1px solid #efefef;
  > h4 {

  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  color: #60b4ef ;
  }
}

article {
    background: #ffffff;
}
