@import 'base/base';
@import '../common/styles';

html {
  position: relative;
  min-height: 100%;
}

body {
  font: 16px -apple-system, 'Roboto', Lato, Arial, sans-serif;
  margin: 0;
  padding: 1.5em;
  padding-bottom: 100px;
  background-color: #e7e7e7;
  font-family: 'Roboto';
}

#content {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

input {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px !important;
  color: #788c9a !important;
  border-radius: 2px;
  border-color: #f6f6f6;
}
button {
  background: #7cd071;
  border-radius: 2px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  color: #ffffff;
}

label {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  color: #788c9a;
}

a {
  transition: 0.25s all;
}

.navbar-brand {
  padding: 0px;
  > img {
    height: 100%;
    padding: 5px;
    width: auto;
  }
}

.fp-navbar {
  background-color: #7cd071;
  .navbar-nav {
    > li {
      border-right: 1px solid #50aa47;
    }
    > li > a {
      color: #ffffff;
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 13px;
    }

    > .active > a,
    .navbar-default .navbar-nav > .active > a:focus,
    .navbar-default .navbar-nav > .active > a:hover {
      background-color: #71bf67 !important;
      width: 100%;
      color: #ffffff;

      &:after {
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #71bf67;
        content: ' ';
        position: absolute;
        bottom: -8px;
        left: 25%;
      }
    }

    > .open > a,
    .navbar-default .navbar-nav > .open > a:focus,
    .navbar-default .navbar-nav > .open > a:hover {
      background-color: #29a74f;
    }
    > .navbar-brand-right {
      border-left: 1px solid #50aa47;
      border-right: 0px;
      > img {
        height: auto;
        padding: 5px;
        width: 66%;
      }
    }
  }
}

#sub-header {
  background-color: #ffffff;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 50px;
  margin-bottom: 0px !important;
  min-width: 770px;
  z-index: 100;
  //  border-bottom: 1px solid #8c8c8c;
  margin-top: 30px;

  .navbar-collapse.collapse {
    height: 40px;
  }

  a.navbar-brand {
    padding: 10px 15px;
    line-height: 30px;
  }
  a:hover {
    background: #e7e7e7;
  }
  li:hover {
    background: #e7e7e7;
  }
}

div.fp-form-container {
  > .panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align: center;

    a {
      text-decoration: none;
      color: #666;
      font-weight: bold;
      font-size: 15px;
      -webkit-transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
      transition: all 0.1s linear;
    }

    a.active {
      color: #029f5b;
      font-size: 18px;
    }
  }
}

div.fp-form-container {
  > .panel-heading {
    hr {
      margin-top: 10px;
      margin-bottom: 0px;
      clear: both;
      border: 0;
      height: 1px;
      background-image: -webkit-linear-gradient(
        left,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0)
      );
      background-image: -moz-linear-gradient(
        left,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0)
      );
      background-image: -ms-linear-gradient(
        left,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0)
      );
      background-image: -o-linear-gradient(
        left,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0)
      );
    }
  }
}

.has-spinner {
  position: relative;
}

// Box shadow helper
@mixin BoxShadowHelper($level: 1) {
  @if $level == 1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
      0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  @if $level == 2 {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
      0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }
}

.card {
  overflow: hidden;
  @include BoxShadowHelper(1);
  transition: 0.25s box-shadow;
  &:focus,
  &:hover {
    @include BoxShadowHelper(2);
  }
}
.card-inverse .card-img-overlay {
  background-color: rgba(#333, 0.85);
  border-color: rgba(#333, 0.85);
}

.img-card {
  width: 100px;
  height: 100px;
  background: white url('/static/images/image-loader.gif') no-repeat center;
}

.search-container {
  margin: 10px;
  padding-top: 5px;
  //display: flex;
  justify-content: space-between;
}

.search-container > input {
  min-width: 250px;
  max-width: 350px;
  width: 33%;
  padding: 4px;
  outline: 1px;
  outline-color: #efefef;
  border-radius: 2px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  color: #788c9a;
}

.list-container {
  margin-top: 15px;
  overflow: hidden; /* simple clearfix */

  > div {
    //float: left;
    min-width: 20%;
    padding: 2%;
  }
  article.card {
    margin: 0px;
  }
}

#organization-list {
  &:empty {
    @include screen-skeleton(40px);
  }
}
/* but this is not removing the float: */
@media only screen and (min-width: 150px) and (max-width: 780px) {
  .list-container > div {
    //float: none;
    min-width: 25%;
    padding: 10px;
  }
}

.footer {
  background-image: linear-gradient(270deg, #599dd1, #95e78b);
  padding: 10px;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.card-title {
  border-bottom: 1px solid #efefef;
  > h4 {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color: #60b4ef;
  }
  > h4:hover {
    color: #4a9fda;
  }
  > h4 img:hover {
    background-image: url('/static/images/icon_more_hover.png');
  }
}

article {
  background: #ffffff;
  margin: 10px 0 0 0;
}

/* activity Feed*/
.activity-feed {
  > li > span > a {
    color: #7cd071;
    font-family: 'Helvetica';
    font-weight: bold;
    font-size: 12px;
  }
  > li > span > a:hover {
    color: #50aa47;
    font-size: 12px;
  }
  > li > span > time {
    color: #cccccc;
    font-family: 'Helvetica';
    font-style: italic;
    margin-top: -5px;
  }
  padding: 15px;
  list-style: none;

  .feed-item {
    position: relative;
    padding-bottom: 30px;
    padding-left: 10px;
    border-left: 1px solid #60b4ef;
    font-size: 12px;
    font-family: 'Helvetica';
    color: #788c9a;

    &:last-child {
      border-color: transparent;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: -3px;
      width: 5px;
      height: 5px;
      border-radius: 6px;
      background: #60b4ef;
      border: 1px solid #60b4ef;
    }

    .text {
      position: relative;
      top: -5px;
    }
  }
}

.strike {
  text-align: center;
  color: #788c9a;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 100px;
}

.strike-text {
  font-family: 'Helvetica';
  font-size: 22px !important;
  color: #cccccc;
  text-align: center;
  margin-top: -50px;
}

// organizations-Families - jdferreira 23-11-2017
#floating-survey {
  position: absolute;
  z-index: 10;
  top: 5%;
  width: 4%;
  height: auto;
  left: 92%;
}

#floating-organization {
  position: absolute;
  z-index: 10;
  top: 8%;
  width: 4%;
  height: auto;
  left: 92%;
}

#floating-survey:hover {
  -moz-box-shadow: 0 0 20px #ccc;
  -webkit-box-shadow: 0 0 20px #ccc;
  box-shadow: 0 0 20px #ccc;
  border-radius: 50%;
}

#floating-user {
  position: absolute;
  z-index: 10;
  top: 8%;
  width: 4%;
  height: auto;
  left: 87%;
}

#floating-user:hover {
  -moz-box-shadow: 0 0 20px #ccc;
  -webkit-box-shadow: 0 0 20px #ccc;
  box-shadow: 0 0 20px #ccc;
  border-radius: 50%;
}

#table-top-indicators {
  > thead {
    background: #f9f9f9;
    color: #60b4ef;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    > tr > th > img {
      border-radius: 50%;
      width: 40%;
      height: auto;
    }
  }
  > thead:first-child > tr:first-child > th:first-child {
    width: 70%;
  }
  > tbody > tr > td {
    color: #788c9a;
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 14px;
    border-top: 1px solid #f9f9f9;
  }
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border-top: none;
}

//Home de family - mcespedes
.list-priorities {
  border-bottom: 1px solid #efefef;
  padding-bottom: 19px;
  position: relative;
  .centered {
    position: absolute;
    top: 40%;
    left: 3%;
    transform: translate(-50%, -50%);
    color: #ccccca;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
  }
  > img {
    width: 50px;
    height: auto;
    margin-right: 20px;
    position: relative;
    text-align: center;
  }
  > div {
    color: #60b4ef;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;

    .text-muted {
      color: #788c9a;
      font-family: 'Helvetica';
      font-weight: 400;
      font-size: 14px;
    }
  }
}

#snapshot-indicators {
  padding: 10px;
  position: relative;
  height: auto;
  width: 100%;

  .centered {
    position: absolute;
    top: 40%;
    left: 3%;
    transform: translate(-50%, -50%);
    color: #ccccca;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
  }

  > span {
    color: #ffffff;
    font-family: 'Roboto';
    font-weight: 400;
  }
  > #green {
    background-color: #50aa47;
    position: absolute;
    top: 10%;
    left: 31%;
    border-radius: 50%;
    padding: 33px;
    font-size: 33px;
  }
  > #yellow {
    background-color: #f0cc39;
    position: absolute;
    top: 32%;
    left: 35%;
    border-radius: 50%;
    padding: 27px;
    font-size: 27px;
  }
  > #red {
    background-color: #e0504c;
    position: absolute;
    top: 52%;
    left: 37%;
    border-radius: 50%;
    padding: 23px;
    font-size: 23px;
  }
}

#card-interventions {
  > ul > li {
    > p {
      color: #60b4ef;
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 14px;
    }

    > img {
      width: 15%;
    }

    > .pull-right {
      margin-top: 27px;
    }
    > .pull-left {
      margin-right: 5px;
    }
    > .text-muted {
      color: #788c9a;
      font-family: 'Helvetica';
      font-weight: 400;
      font-size: 12px;
    }
  }
}
//fin de Home de family - mcespedes
.list-group-item {
  margin: 10px;
}

.indicator-circle-snapshot {
  text-align: center;
  // width: auto;
  height: auto;
  min-height: 10em;
}

.indicator-circle-snapshot > div {
  //max-width: 100px;
  //max-height: 100px;
  margin: 0 auto;
}

.indicator-circle-snapshot > figcaption {
  text-align: center;
  font-weight: bold;
}

.indicators-snapshot {
  //-webkit-column-count: 6;
  //-moz-column-count: 6;
  //column-count: 5;
}

.circle-content {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  cursor: pointer;
}

.circle-header {
  width: 20px;
  height: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.red {
  background: red !important;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  printer-colors: exact;
}

.green {
  background: green !important;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  printer-colors: exact;
}

.yellow {
  background: yellow !important;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  printer-colors: exact;
}

.indicator-circle-snapshot > p {
  text-align: center;
}

.indicator-circle-snapshot > div {
  margin: 0 auto;
}

.indicator-circle-snapshot {
  text-align: center;
  page-break-inside: avoid;
}

.header-indicators-snapshot {
  min-height: 20px;
}

.header-indicators-snapshot > h3 {
  font-weight: bold;
}

.header-resume {
  column-count: 6;
}

.header-resume > p {
  font-weight: bold;
}

// GALLERY WIDGET

.gallery-image > figure > img {
  opacity: 0.5;
  //  min-height: 240px;
  //  max-width: 360px;
}

.gallery-image > figure {
  float: left;
  cursor: pointer;
  //  margin: 10px;
  //  min-height: 300px;
}

.gallery-image > figure > figcaption {
  //max-width: 360px;
  margin: 10px;
  text-align: justify;
  font-family: 'Helvetica';
  font-weight: 400;
  font-size: 15px !important;
  color: #788c9a !important;
}

.gallery-image.gallery-selected {
  > figure {
    > img {
      opacity: 1;
      //min-height: 250px;
      //max-width: 370px;
    }
  }

  > .RED {
    border: 10px solid #ee6062;
    border-radius: 15px;
  }
  > .YELLOW {
    border: 10px solid #fee060;
    border-radius: 15px;
  }
  > .GREEN {
    border: 10px solid #81c56d;
    border-radius: 15px;
  }
}

.field-gallery > div {
  //  min-height: 430px;
  //  max-width: 1200px;
}

//MAP WIDGET
.gmap {
  min-width: 800px !important;
  min-height: 600px !important;
  position: relative !important;
}

#flashes {
  .container {
    z-index: 2000;
    position: fixed;
    width: 500px;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }
}

.flashes {
  &__alert {
    @include BoxShadowHelper(1);
  }
}

//ORGANIZATIONS
.search::-webkit-input-placeholder {
  padding-left: 8%;
  background: url('/static/images/icon_buscar.png') no-repeat scroll 7px 7px;
  background-position: 1% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.floating-organization {
  position: absolute;
  z-index: 10;
  top: 75px;
  width: 4%;
  height: auto;
  left: 92%;
}

.view-items {
  padding-top: 8px;
  padding-right: 10px;
  float: right;
}

.organizarion-name {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  color: #60b4ef;
  word-wrap: break-word;
}
.organizarion-name:hover {
  color: #4a9fda;
}

#img-cam {
  margin-left: 25%;
  margin-right: 25%;
  border: 4px dashed #f6f6f6;

  > p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color: #dddddd;
    margin-top: 10%;
    margin-bottom: 20%;
  }
  > img {
    margin-top: 20%;
    width: 35%;
  }
}

div.fp-form-container {
  form {
    padding-left: 10%;
    padding-right: 10%;

    input {
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 14px;
      color: #788c9a;
      border-radius: 2px;
      border-color: #f6f6f6;
    }
    button {
      background: #7cd071;
      width: 100%;
      border-radius: 2px;
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 13px;
      color: #ffffff;
    }
  }
}

//login-page mcespedes
.login-img {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: -2%;
  margin-top: -2%;
}
.bg-login {
  background-image: linear-gradient(270deg, #599dd1, #95e78b);
  opacity: 0.8;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: -2%;
  margin-top: -2%;
}
#btn-login {
  background: #7cd071;
  border-radius: 2px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 13px;
  color: #ffffff;
  width: 100%;
}
#loginbox {
  background: #ffffff;
  margin-top: 50px;
  > img {
    width: 25%;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

// Family Snapshots -jdferreira
#family-snapshot {
  > img {
    //  width: 100px;
    height: 380px;
  }
  padding: 10px;
  position: relative;
  height: auto;
  width: 100%;

  .centered {
    position: absolute;
    top: 40%;
    left: 3%;
    transform: translate(-50%, -50%);
    color: #ccccca;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
  }

  > span {
    color: #ffffff;
    font-family: 'Roboto';
    font-weight: 400;
  }
  > #green {
    background-color: #50aa47;
    position: absolute;
    top: 8%;
    left: 35%;
    border-radius: 50%;
    padding: 22px;
    font-size: 32px;
  }
  > #yellow {
    background-color: #f0cc39;
    position: absolute;
    top: 33%;
    left: 37%;
    border-radius: 50%;
    padding: 20px;
    font-size: 24px;
  }
  > #red {
    background-color: #e0504c;
    position: absolute;
    top: 56%;
    left: 40%;
    border-radius: 50%;
    padding: 15px;
    font-size: 21px;
  }
}
/* ########## */

// View snapshots - jdferreira

.article-title {
  color: #60b4ef;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
}

#item-number {
  margin-right: 15px;
  border-radius: 50%;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  border: 5px solid #ccccca;
  color: #ccccca;
  margin-top: -5px;
}

// snapshot-add - mcespedes
#floating-snapshot-add {
  position: absolute;
  z-index: 10;
  top: 65px;
  width: 4%;
  height: auto;
  left: 92%;
}

#floating-snapshot-user {
  position: absolute;
  z-index: 10;
  top: 65px;
  width: 4%;
  height: auto;
  left: 87%;
}

.btn-circle {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}

.survey-next {
  position: absolute;
  background: #f15f5f;
  z-index: 10;
  top: 48%;
  left: 90%;
}
.survey-previous {
  position: absolute;
  background: #f15f5f;
  z-index: 10;
  top: 48%;
  left: 6%;
}

.field-string,
.field-integer {
  > input {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 32px !important;
    color: #788c9a !important;
    height: 75px;
    background: #f6f6f6;
    height: 75px;
    margin-left: 7%;
    margin-right: 7%;
    width: 86%;
  }

  > select {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 32px !important;
    color: #788c9a !important;
    height: 75px;
    background: #f6f6f6;
    height: 75px;
    margin-left: 7%;
    margin-right: 7%;
    width: 86%;
  }
  > label {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 32px !important;
    color: #788c9a !important;
    text-align: center;
    width: 100%;
  }
}

.field-gallery {
  > label {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 32px !important;
    color: #788c9a !important;
  }
}

.gmap-label {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 32px !important;
  color: #788c9a !important;
  text-align: center;
  width: 100%;
}

#root__title {
  display: none;
}
#root__description {
  display: none;
}

@media print {
  .noPrint,
  .noPrint * {
    display: none !important;
  }
}

.text-blue {
  font-family: 'Roboto';
  color: #60b4ef !important;
  font-size: 14px !important;
}

.text-gray {
  font-family: 'Roboto';
  color: #788c9a !important;
  font-size: 14px !important;
}

.text-center {
  text-align: center;
}

.bg-under-construction {
  opacity: 0.7;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title-gray {
  font-family: 'Roboto';
  color: #788c9a !important;
  font-size: 1.7em;
}

.progress-survey {
  color: #788c9a !important;
}

.subActive {
  background: #e7e7e7;
  > a {
    background: #e7e7e7;
    font-weight: 400;
    font-size: 13px;
  }
  > a:focus {
    background: #e7e7e7 !important;
  }
}

.subActive:hover {
  background: #e7e7e7;
}

.faqHeader {
  font-size: 27px;
  margin: 20px;
}
