<div class="row">
  <div class="col-md-3 col-xs-6">

    <article class="card animated fadeInLeft">
      <div  class="card-block">
        <div class="card-title">
          <h4 >Snapshot 2015-01
            <img class="pull-right" src="/static/images/icon_more.png" >
          </h4>
        </div>

      <div class="" id="family-snapshot">
          <img  class="center-block" src="/static/images/icon_semaforo.png">
          <span class="center-block" id="green">25</span>
          <span id="yellow">19</span>
          <span id="red">10</span>
      </div>
    </article>

  </div>

  <div class="col-md-9 col-xs-6 ">

    <article class="card animated fadeInLeft">
      <div class="card-block">
        <div class="card-title" >
          <h4 >Prioriades / Snapshot 2017-09
            <img class="pull-right" src="/static/images/icon_more.png" >
          </h4>
        </div>
        <br/>
        <div class="list-priorities">
            <!-- <img  class="pull-left" src="/static/images/icon_elipse_gris.png"> -->
            <!-- <div class="centered">1</div> -->

            <span id="item-number" class="pull-left "> 1 </span>
            <div class="">
            <span> Lorem ipsum dolor  </span><br>
              <span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </span>
            </div>
        </div>
        <br/>
        <div class="list-priorities">
            <img  class="pull-left" src="/static/images/icon_elipse_gris.png">
            <div class="centered">2</div>
            <div class="">
            <span> Lorem ipsum dolor  </span><br><br>
              <span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </span>
            </div>
        </div>
        <br/>
        <div class="list-priorities">
            <img  class="pull-left" src="/static/images/icon_elipse_gris.png">
            <div class="centered">3</div>
            <div class="">
            <span> Lorem ipsum dolor  </span><br><br>
              <span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </span>
            </div>
        </div>
        <br/>
        <div class="list-priorities">
            <img  class="pull-left" src="/static/images/icon_elipse_gris.png">
            <div class="centered">4</div>
            <div class="">
            <span> Lorem ipsum dolor  </span><br><br>
              <span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </span>
            </div>
        </div>
        <br/>
        <div class="list-priorities">
            <img  class="pull-left" src="/static/images/icon_elipse_gris.png">
            <div class="centered">5</div>
            <div class="">
            <span> Lorem ipsum dolor  </span><br><br>
              <span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </span>
            </div>
        </div>
        <br/>

      </div>
    </article>

  </div>



</div>
