<div class="row">
  <div class="col-md-3 col-xs-6">

    <article class="card animated fadeInLeft">
      <div  class="card-block">
        <div class="card-title">
          <h4 >Snapshot 2015-01
            <img class="pull-right" src="/static/images/icon_more.png" >
          </h4>
        </div>

      <div class="" id="family-snapshot">
          <img  class="center-block" src="/static/images/icon_semaforo.png">
          <span class="center-block" id="green">25</span>
          <span id="yellow">19</span>
          <span id="red">10</span>
      </div>
    </article>

  </div>

  <div class="col-md-3 col-xs-6 ">

    <article class="card animated fadeInLeft">
      <div  class="card-block">
        <div class="card-title">
          <h4 >Snapshot 2016-04
            <img class="pull-right" src="/static/images/icon_more.png" >
          </h4>
        </div>

      <div class="" id="family-snapshot">
          <img  class="center-block" src="/static/images/icon_semaforo.png">
          <span class="center-block" id="green">25</span>
          <span id="yellow">19</span>
          <span id="red">10</span>
      </div>
    </article>

  </div>

  <div class="col-md-3 col-xs-6">
    <article class="card animated fadeInLeft">
      <div  class="card-block">
        <div class="card-title">
          <h4 >Snapshot 2017-06
            <img class="pull-right" src="/static/images/icon_more.png" >
          </h4>
        </div>

      <div class="" id="family-snapshot">
          <img  class="center-block" src="/static/images/icon_semaforo.png">
          <span class="center-block" id="green">25</span>
          <span id="yellow">19</span>
          <span id="red">10</span>
      </div>
    </article>

  </div>

</div>
