{{!--
<div id="organizations-region">
</div> --}}

<div id="top" class="search-container">
  <input name="data[search]" class="form-control" id="search" type="text" placeholder="Buscar Empresa">
  <div class="add-button-item">
    <button class="btn btn-success" id="add-new">
      <i class="glyphicon glyphicon-plus"></i> Agregar
    </button>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
<div id="organization-list" class="list-container">
</div>
</div>
</div>
