<h2>Manage families</h2>
<div id="top" class="search-container">


<div class="row">
   <div class="col-sm-4">
       <input name="data[search]" class="form-control" id="search" type="text" placeholder="Last name or code" required>
  </div>
    <button type="button" id="submit" class="btn btn col-sm-2"><i class="fa fa-search"></i> Search</button>
</div>
</div>


    <div id="family-list" class="has-spinner">
  </div>
