<div class="list-common-content row">
    <h2 class="text-center text-blue">Manage families</h2>
    <div id="top" class="search-container">
      <div class="col-md-4 col-sm-6 col-xs-12 form-group">
        <input name="data[search]" class="form-control" id="search" type="text" placeholder="Last name or code" required>
      </div>
      <div class="col-md-8 col-sm-6 col-xs-12 form-group">
        <button type="button" id="submit" class="btn btn"><i class="fa fa-search"></i> Search</button>
      </div>
    </div>
    <div id="family-list" class="has-spinner list-container-large">
    </div>
</div>
