<div class="indicators-list col-md-12" >
    {{#each snapshots}}    
        <h3 class="text-gray " style="font-size: 18px"> {{$t 'report.snapshot.survey'}} : {{this.surveyName}}</h3>
        
         
         <table class="table table-striped margin bottom center " >
            <thead class="thead-light">
            <tr>
                {{#each this.snapshots.headers}}
                    <th class="col-md-3 text-gray">{{this}}</th>
                {{/each}}

            </tr>
            </thead>
            <tbody id="tbodypriorities">
            {{#each this.snapshots.rows}}
               
                <tr>
                    {{#each this}}
                        <td class="text-gray"> {{this}}</td>
                    {{/each}}
                </tr>
               
            {{/each}}

            </tbody>
        </table>
    {{/each}}
</div>