<div id="card-item" >
  <!-- Card -->
  <article class="card animated fadeInLeft" style="min-height:300px">
    <div class="card-block">
      <div class="card-title">
        <h4>
          <img class="pull-right" src="/static/images/icon_more.png">
        </h4>
        <br/>
      </div>
      <br>
      <br>
        <img class="card-user card-img-top img-responsive center-block" src="/static/images/icon_user.png" alt="" />
      <br>
      <br>
      <p class="user-name text-center">{{user.username}}</p>
    </div>
  </article>
</div>
<!-- .end Card -->
