  <!-- <img id="floating-organization"  src="/static/images/icon_agregar_encuesta.png" >
  <img id="floating-user"  src="/static/images/icon_agregar_usuario.png" > -->
<div class="row">

  <div class="col-lg-4">
    <div class="col-lg-12">
    <article class="card">
      <div class="card-block">
        <div class="card-title" >
          <h4 >Activity Feed
              <img class="pull-right" src="/static/images/icon_more.png" >
          </h4>
        </div>
        <h6 class="text-muted"></h6>
        <ol class="activity-feed maintenance-watermark">
          <li class="feed-item">
            <span class="text">Responded to need <a href="single-need.php">“Volunteer opportunity”</a>
            <time class="pull-right" >30 min</time>
            </span>

          </li>
          <li class="feed-item">
            <span class="text">Added an interest “Volunteer Activities”
              <time class="pull-right" >45 min</time>
            </span>
          </li>
          <li class="feed-item">
            <span class="text">Joined the group <a href="single-group.php">“Boardsmanship Forum”</a>
              <time class="pull-right" >50 min</time>
            </span>
          </li>
          <li class="feed-item">

            <span class="text">Responded to need <a href="single-need.php">“In-Kind Opportunity”</a>
              <time class="pull-right" >1 Hora</time>
            </span>
          </li>
          <li class="feed-item">
            <span class="text">Created need <a href="single-need.php">“Volunteer Opportunity”</a>
              <time class="pull-right" >2 dias</time>
            </span>
          </li>
          <li class="feed-item">
            <span class="text">Attending the event <a href="single-event.php">“Some New Event”</a>
              <time class="pull-right" >2 dias</time>
            </span>
          </li>
          <li class="feed-item">
            <span class="text">Created need <a href="single-need.php">“Volunteer Opportunity”</a>
              <time class="pull-right" >2 dias</time>
            </span>
          </li>
          <li class="feed-item">
            <span class="text">Attending the event <a href="single-event.php">“Some New Event”</a>
              <time class="pull-right" >2 dias</time>
            </span>
          </li>
          <li class="feed-item">
            <span class="text">Created need <a href="single-need.php">“Volunteer Opportunity”</a>
              <time class="pull-right" >2 dias</time>
            </span>
          </li>
          <li class="feed-item">
            <span class="text">Attending the event <a href="single-event.php">“Some New Event”</a>
              <time class="pull-right" >2 dias</time>
            </span>
          </li>
        </ol>
      </div>
    </article>
  </div>
  </div>

  <div class="col-lg-8">
    <div class="col-lg-6">
        <article class="card">
          <div class="card-block">
            <div class="card-title">
              <h4 >Families
                <img class="pull-right" src="/static/images/icon_more.png" >
              </h4>
            </div>
            <h6 class="text-muted"></h6>
            <p class="card-text strike">72
            </p>
              <p class="strike-text centered">in total</p>
              <br/>
          </div>
        </article>
    </div>

    <div class="col-lg-6">
        <article class="card">
          <div class="card-block">
            <div class="card-title">
              <h4 >Indicators
                <img class="pull-right" src="/static/images/icon_more.png" >
              </h4>
            </div>
            <h6 class="text-muted"></h6>
            <div class="text-center">
            <img src="/static/images/uc_dummy_piechart.png" style="width: 73%;  height: auto;">
          </div>
          </div>
        </article>

    </div>

  <div class="col-lg-12">
      <article class="card">
        <div class="card-block">
          <div class="card-title">
            <h4 >Top Indicators
              <img class="pull-right" src="/static/images/icon_more.png" >
            </h4>
          </div>
          <br/>
          <table class="table" id="table-top-indicators maintenance-watermark">
            <thead>
              <th>Inidcator</th>
              <th><img src="/static/images/icon_elipse_verde_01.png"></th>
              <th><img src="/static/images/icon_elipse_amarillo_01.png"></th>
              <th><img src="/static/images/icon_elipse_rojo_01.png"></th>
            </thead>
            <tbody>
            <tr>
              <td>Inidcador 21</td>
              <td>112</td>
              <td>210</td>
              <td>194</td>
            </tr>
            <tr>
              <td>Inidcador 21</td>
              <td>112</td>
              <td>210</td>
              <td>194</td>
            </tr>
            <tr>
              <td>Inidcador 21</td>
              <td>112</td>
              <td>210</td>
              <td>194</td>
            </tr>
            <tr>
              <td>Inidcador 21</td>
              <td>112</td>
              <td>210</td>
              <td>194</td>
            </tr>
            <tr>
              <td>Inidcador 21</td>
              <td>112</td>
              <td>210</td>
              <td>194</td>
            </tr>
          </tbody>

          </table>
        </div>
      </article>
  </div>

</div>

</div>
