<!-- <img id="floating-organization"  src="/static/images/icon_agregar_encuesta.png" >
<img id="floating-user"  src="/static/images/icon_agregar_usuario.png" > -->
<div class="row">

<div class="col-lg-4">
  <div class="col-lg-12">
  <article class="card animated fadeInLeft">
    <div class="card-block">
      <div class="card-title" >
        <h4 >Activity Feed
            <img class="pull-right" src="/static/images/icon_more.png" >
        </h4>
      </div>
      <h6 class="text-muted"></h6>
      <ol class="activity-feed maintenance-watermark">
        <li class="feed-item">
          <span class="text">Form created <a href="single-need.php">The family "Páez Mercado" make first form</a>
          <time class="pull-right" >30 min</time>
          </span>

        </li>
        <li class="feed-item">
          <span class="text">Report request <a href="single-need.php">Jaime Ferreria requested the snapshot report of families</a>
            <time class="pull-right" >45 min</time>
          </span>
        </li>
        <li class="feed-item">
          <span class="text">Form created <a href="single-need.php">The family "Riveros Gonzalez" made first form</a>
          <time class="pull-right" >1 hour ago</time>
          </span>

        </li>
        <li class="feed-item">

          <span class="text">Survey <a href="single-need.php">“Martin Burt make 10 form in Lambare”</a>
            <time class="pull-right" >1 hour ago</time>
          </span>
        </li>
        <li class="feed-item">
          <span class="text">Form created <a href="single-need.php">The family "Páez Mercado" make first form</a>
          <time class="pull-right" >1 hour ago</time>
          </span>

        </li>
        <li class="feed-item">
          <span class="text">Report request <a href="single-need.php">Jaime Ferreria requested the snapshot report of families</a>
            <time class="pull-right" >2 hour ago</time>
          </span>
        </li>
        <li class="feed-item">
          <span class="text">Form created <a href="single-need.php">The family "Riveros Gonzalez" made first form</a>
          <time class="pull-right" >1 day ago</time>
          </span>

        </li>
        <li class="feed-item">

          <span class="text">Survey <a href="single-need.php">“Martin Burt make 5 form in Asuncion”</a>
          <time class="pull-right" >3 day ago</time>
          </span>
        </li>
        <li class="feed-item">

          <span class="text">Survey <a href="single-need.php">“Guillermo Zacur make 15 form in Asuncion”</a>
          <time class="pull-right" >3 day ago</time>
          </span>
        </li>

      </ol>
    </div>
  </article>
</div>
</div>

<div class="col-lg-8">
  <div class="col-lg-6">
      <article class="card animated fadeInLeft">
        <div class="card-block">
          <div class="card-title">
            <h4 >Families
              <img class="pull-right" src="/static/images/icon_more.png" >
            </h4>
          </div>
          <h6 class="text-muted"></h6>
          <p class="card-text strike">{{organization.dashboard.numberOfFamilies}}
          </p>
            <p class="strike-text centered">in Total</p>
            <br/>
        </div>
      </article>
  </div>

  <div class="col-lg-6">
      <article class="card animated fadeInLeft">
        <div class="card-block">
          <div class="card-title">
            <h4 >Indicators
              <img class="pull-right" src="/static/images/icon_more.png" >
            </h4>
          </div>
          <h6 class="text-muted"></h6>
          <div class="text-center">
          <img src="/static/images/uc_dummy_piechart.png" style="width: 73%;  height: auto;">
        </div>
        </div>
      </article>

  </div>

<div class="col-lg-12">
    <article class="card animated fadeInLeft">
      <div class="card-block">
        <div class="card-title">
          <h4 >Top of Indicators
            <img class="pull-right" src="/static/images/icon_more.png" >
          </h4>
        </div>
        <br/>
        <table class="table maintenance-watermark" id="table-top-indicators">
          <thead>
            <th>Indicator</th>
            <th><img src="/static/images/icon_elipse_verde_01.png"></th>
            <th><img src="/static/images/icon_elipse_amarillo_01.png"></th>
            <th><img src="/static/images/icon_elipse_rojo_01.png"></th>
          </thead>
          <tbody>
          <tr>
            <td>Income above the poverty line</td>
            <td>52</td>
            <td>110</td>
            <td>294</td>
          </tr>
          <tr>
            <td>Family savings</td>
            <td>112</td>
            <td>240</td>
            <td>154</td>
          </tr>
          <tr>
            <td>Violence against women</td>
            <td>127</td>
            <td>201</td>
            <td>165</td>
          </tr>
          <tr>
            <td>Stable income</td>
            <td>112</td>
            <td>210</td>
            <td>194</td>
          </tr>
          <tr>
            <td>Safe home</td>
            <td>312</td>
            <td>136</td>
            <td>54</td>
          </tr>
        </tbody>

        </table>
      </div>
    </article>
</div>

</div>

</div>
