<div id="tabs-region">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#1" data-toggle="tab">Farmacenter España</a>
    </li>
    <li>
      <a href="#2" data-toggle="tab">Families</a>
    </li>

    <li>
      <a href="#3" data-toggle="tab">Users</a>
    </li>

    <li>
      <a href="#3" data-toggle="tab">Indicators</a>
    </li>
  </ul>
</div>
<div id="organization-region">
</div>
