<div>
  <div class="pull-right">
    <label>Seleccione encuesta:</label>
    <select id="table-id">
      <option selected="selected" value="hamsterform">hamsterform</option>
      <option value="poverty_stoplight_test4">poverty_stoplight_test4</option>
    </select>
  </div>
  <br />
  <div id="new-survey">

  </div>
</div>
