
<div id="modal-content" class="modal fade"  tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" >
  <div class="modal-dialog" >
      <div class="modal-content">
          <div class="modal-header">
              
              <h3 class="title-blue modal-title">
                <!--i class="fa fa-life-ring"></i-->
              </h3>

          </div>
          <div class="modal-body app-modal-body">
              <form id="form">
                <div class="form-group">
                    <p> Why I don't have it? </p>
                    <input value="{{indicatorPriority.reason}}" type="text" class="form-control" name="reason"
                            placeholder="Description" required>
                </div>
                <div class="form-group">
                    <p> What do I do to attain it? </p>
                    <input value="{{indicatorPriority.action}}" type="text" class="form-control" name="action"
                            placeholder="Description" required>
                </div>
                <div class="form-group">
                    <p> When will I have it? </p>
                    <div class='input-group date' id='datetimepicker1'>
                        <input id="fecha" value={{indicatorPriority.estimatedDate}} type='text' class="form-control" placeholder="DD/MM/YYYY" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                    
                            </span>
                    </div>                                    
                </div>
            </form>
          </div>
          <div class="modal-footer app-modal-footer">
            <div class="row">
              <div class="modal-footer-button-content">
                <div class="modal-footer-button form-item-right col-xs-6 col-xs-offset-6">
                    <button type="button" type="submit" id="add-priority" class="btn form-button btn-primary">Accept</button>
                    <button type="button" id="cancel-priority" class="btn form-button btn-primary margin-left-30">Cancel</button>

                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>




