<header>
    <a class="navbar-brand" href="#"><img id="odk-menu-icon"
						alt="FP Web" src="/static/images/poverty_stoplight_32.png" width="32"
						height="32"></a>
    <h1>Fundación Paraguaya</h1>
    <h2>Plataforma Semáforo de la Pobreza</h2>
    <nav>
        <a href="users" data-route>USUARIOS</a>
        <a href="organizations" data-route>ORGANIZACIONES</a>
    </nav>
</header>
<div id="content"></div>