<div id="top" class="search-container">
  <input name="data[search]" class="form-control" id="search" type="text" placeholder="Search Organization">
  <div class="add-button-item">
    <button class="btn btn-success" id="add-new">
      <i class="glyphicon glyphicon-plus"></i> Add
    </button>
  </div>
</div>
<div id="organization-list" class="list-container">

</div>
