<div class="list-common-content">
  <div id="top" class="search-container">
    <div class="row">
      <div class="col-md-3">

        <div class="form-group">
          <label>{{$t 'report.snapshot.search.date-from'}} * :</label>
          <div class='input-group date' id='dateFrom'>
            <input id="date1" value={{filters.dateFrom}} type='text' class="form-control" placeholder="DD/MM/YYYY" />
            <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label>{{$t 'report.snapshot.search.date-to'}} * :</label>
          <div class='input-group date' id='dateTo'>
            <input id="date2" value={{filters.dateTo}} type='text' class="form-control" placeholder="DD/MM/YYYY" />
            <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
          </div>
        </div>
      </div>

      <div class="col-md-3" id="organizations">
        <div class="form-group" >
          <label>{{$t 'header.organizations'}}:</label>
          <div class='input-group' style="width: 100% !important;">
            <select class="form-control" id="organization" multiple="multiple" style="width: 100% !important;"></select>
          </div>
        </div>
      </div>

      <div class="col-md-3" >
        <div class="form-group" style="margin-top: 24px;">
          <button type="button" id="submit" class="btn btn"><i class="fa fa-search"></i> {{$t 'report.snapshot.search.search'}}</button>
        </div>
      </div>

    </div>
  </div>

  <div id="datatable-container" class="has-spinner"></div>

</div>
