
<article class="col-md-8 col-md-offset-2 card animated fadeInLeft">
    <div class="row">
    <div id="term-cond-pol"  class="form-group card-block" >
        <div id="text"></div>
        <br/>
        <div >
            <form id="response">
                <div class="radio">
                    <label class="textTermCond"><input type="radio" name="radio" id="agree" value="Yes"> I agree</label>
                </div> 
                <div class="radio">
                    <label class="textTermCond"><input type="radio" name="radio" id="dontAgree" value="No"> I don't agree</label>
                </div>
            </form>

            <div class="pull-right">
                <button type="button" type="submit" id="accept" class="btn form-button btn-primary disabled">Next</button>
            </div>
        </div>
        <br/>
        <br/>
    </div>
    </div>
</article>