<div class="list-group-item">
  <a id="show-snaps">
    {{survey.title}}
  </a>
  
  <a id="delete" href="#" class="icon " style="float:right" data-toggle="tooltip" title="Remove this survey" >
    <span class="glyphicon glyphicon-trash"></span>
  </a>
  <a id="answer" class="icon " href="#" style="float:right; margin-right: 5px;  vertical-align: middle;" data-toggle="tooltip" title="Make this survey">
    <span class="glyphicon glyphicon-share-alt"></span>
  </a>
</div>
