<div id="card-item" >
  <!-- Card -->
  <article class="card animated fadeInLeft" style="min-height:300px">

    <div class="card-block">
      <div class="card-title">
        <h4>
          <img class="pull-right" src="/static/images/icon_more.png">
        </h4>
        <br/>
      </div>
      <br>
      <br>
      <a href="#collaborators/hubs/{{hub.id}}">
        <img class="card-img-top img-responsive  img-card center-block" src="/static/images/icon_logo_place.png" alt="" />
      </a>
      <br>
      <br>
      <p class=" organizarion-name text-center" title="{{{hub.name}}}">{{hub.name}}</p>


    </div>
  </article>

</div>
<br>

<!-- .end Card -->
