<div id="top" class="search-container">
  <input name="data[search]" class="form-control" id="search" type="text" placeholder="Search Organization">
  <div class="add-button-item">
    <a id="add-new" href="#organizations/new" class="btn btn-success pull-right">
      <i class="glyphicon glyphicon-plus"></i> Add
    </a>
  </div>
</div>
<div id="organization-list">

</div>
