<div id="top" class="search-container">
  <input name="data[search]" class="form-control search" id="search" type="text" placeholder="Buscar Empresa">

  <a id="add-new" href="#organizations/new">
    <img class="floating-organization" src="/static/images/icon_agregar_empresa.png">
  </a>
  <div class="">
    <img class="view-items" src="/static/images/icon_card_view.png">
    <img class="view-items" src="/static/images/icon_list_view.png">
  </div>
</div>


<div id="organization-list" class="has-spinner">
</div>
