<div id="top" class="search-container">
  <input name="data[search]" class="form-control search" id="search" type="text" placeholder="Find an Organization">
  <a id="add-new" href="#organizations/new">
    <img id="add-organization-button" class="floating-organization" src="/static/images/icon_agregar_empresa.png" title="Add a new Organization">
  </a>
  <div class="" style="margin-top:2%">
    <img class="view-items" src="/static/images/icon_card_view.png">
    <img class="view-items" src="/static/images/icon_list_view.png">
  </div>
</div>


<div id="organization-list" class="has-spinner">
</div>
