<form data-toggle="validator" role="form" class="form-vertical" id="form">
  <div class="row">
        <div class="alert alert-warning" style="display:none">
          <strong>¡Atención! Todos los campos con asterisco son obligatorios</strong>
        </div>
        <div class="col-lg-3">
          <label>Organization</label>
          <select class="form-control" name="organization">
            <option>Paraguay</option>
            <option>United States</option>
          </select>
        </div>
        <div class="col-lg-3">
          <label>Country</label>
          <select class="form-control" name="country">
            <option>Paraguay</option>
            <option>United States</option>
          </select>
        </div>
        <div class="col-lg-3">
          <label>City</label>
          <select class="form-control" name="city">
            <option>Paraguay</option>
            <option>United States</option>
          </select>
        </div>
        <div class="col-lg-3">
          <label>Lastname</label>
          <input type="text" class="form-control" name="name" placeholder="Lastname"
            required>
        </div>
  </div>
  <br/>
  <div class="row">
      <div class="col-lg-4">
        <button class="btn btn-success" type="submit" name="register-submit" id="submit">
          <i class="glyphicon glyphicon-search"></i> Search
        </button>
        <button class="btn btn-danger" type="button" id="cancel">
          <i class="glyphicon glyphicon-refresh"></i> Cancel
        </button>
      </div>
  </div>

</form>
<div id="family-list" class="list-container">

</div>
