<div class="row bg-under-construction">
  <div class="container">
    <h1 class="text-center">Comming Soon !</h1>
    <h4 class="text-center">We're currently under construction! Check back later.</h4>
  </div>
  <br>
  <img class="img-center" src="/static/images/website_maintenance.png" >
</div>