.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //opacity: 0.6;
  //background: #fff;
  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.spin-loader {
  height: 100px;
  position: relative;
  top: 25%;
}
