
<div>
  <!-- <img id="floating-snapshot-add"  src="/static/images/icon_agregar_encuesta.png" >
  <img id="floating-snapshot-user"  src="/static/images/icon_agregar_usuario.png" > -->

  <!-- <button id="goback-btn" type="button" class="btn btn-danger pull-right">Back</button> -->

  <br />


  <article class="card animated fadeInLeft">
    <div class="card-block">
      <!--div class="card-title" >
        <h4 >Question 1/20
            <img class="pull-right" src="/static/images/icon_more.png" >
        </h4>
      </div-->

      <div id="new-survey">

      </div>
      <br/><br/>

    </div>
  </article>


</div>
