<div class="row">
  <div class="col-lg-4">
    <div class="row">
      <div class="col-lg-12">
        <article class="card">
          <div class="card-block">
            <div class="card-title">
              <h4>{{$t 'home.activity'}}
              </h4>
            </div>
            <h6 class="text-muted"></h6>
            <ol class="activity-feed maintenance-watermark">
              <li class="feed-item">
                <span class="text">Reports
                  <a href="single-need.php">Jon Martin of Transmit has requested the report of the households under their hub</a>
                  <time class="pull-right">30 min ago</time>
                </span>

              </li>
              <li class="feed-item">
                <span class="text">Snapshots
                  <a href="single-need.php">Brakes Group of Arcadia has applied The Poverty Stoplight to 152 households</a>
                  <time class="pull-right">45 min ago</time>
                </span>
              </li>

              <li class="feed-item">
                <span class="text">Reports
                  <a href="single-need.php">Annabel Martins of Firstsource has requested the report of the households under their hub</a>
                  <time class="pull-right">1 hour ago</time>
                </span>

              </li>
              <li class="feed-item">
                <span class="text">Snapshots
                  <a href="single-need.php">Acromas Holdings of Pentland Group has applied The Poverty Stoplight to 375 households</a>
                  <time class="pull-right">2 hour ago</time>
                </span>
              </li>
              <li class="feed-item">
                <span class="text">Snapshots
                  <a href="single-need.php">Anglian Water of Matalan Group has applied The Poverty Stoplight to 39 households</a>
                  <time class="pull-right">2 hour ago</time>
                </span>
              </li>

              <li class="feed-item">
                <span class="text">Snapshots
                  <a href="single-need.php">Unipart of KCA Deutag has applied The Poverty Stoplight to 101 households</a>
                  <time class="pull-right">2 hour ago</time>
                </span>
              </li>

            </ol>
          </div>
        </article>
      </div>
    </div>

  </div>

  <div class="col-lg-8">
    <div class="row">
      <div class="col-lg-12">
        <article class="card">
          <div class="card-block" style="height: 227px;">
            <div class="card-title">
              <h4>{{$t 'home.number-families'}}
              </h4>
            </div>
            <br>
            <h3 class="strike">{{organization.dashboard.numberOfFamilies}}</h3>
            <p class="strike-text centered">{{$t 'home.total'}}</p>
          </div>
        </article>
      </div>
      <div class="col-lg-12" style="margin-top: 16px;">
        <article class="card">
          <div class="card-block" style="height: 227px;">
            <div class="card-title">
              <h4>{{$t 'home.snapshots-taken'}}
              </h4>
            </div>
            <div class="">
              <div id="bar-snapshots-taken"></div>
              <p class="strike-text centered no-data">{{$t 'home.no-data'}}</p>
            </div>
          </div>
        </article>
      </div>
    </div>

  </div>
</div>
