<div class="row">


  <div class="col-lg-4">
    <div class="col-lg-12">
    <article class="card animated fadeInLeft">
      <div class="card-block">
        <div class="card-title" >
          <h4 >Activity Feed
              <img class="pull-right" src="/static/images/icon_more.png" >
          </h4>
        </div>
        <h6 class="text-muted"></h6>
        <ol class="activity-feed">
        
          <li class="feed-item">
            <span class="text">Formulario creado <a href="single-group.php">La familia Páez Mercado realizó su primer formulario</a>
              <time class="pull-right" >45 min</time>
            </span>
          </li>
          <li class="feed-item">
            <span class="text">Semáforo <a href="single-group.php">“Martin Burt hizo 10 tomas de semáforo en Lambaré”</a>
              <time class="pull-right" >50 min</time>
            </span>
          </li>
          <li class="feed-item">

            <span class="text">Formulario creado <a href="single-need.php">"La familia Gonzalez realizó su primer formulario"</a>
              <time class="pull-right" >1 Hora</time>
            </span>
          </li>
          <li class="feed-item">
            <span class="text">Solicitud de reporte <a href="single-need.php">"Jaime Ferreria solicitó el reporte de snapshot de familias"</a>
              <time class="pull-right" >2 dias</time>
            </span>
          </li>
          <li class="feed-item">
            <span class="text">Semáforo <a href="single-event.php">“Jaime Ferreria hizo 3 tomas de semáforo en Farmacenter Carapegua”</a>
              <time class="pull-right" >2 dias</time>
            </span>
          </li>
          <li class="feed-item">
            <span class="text">Formulario creado <a href="single-need.php">“La familia Nuñez Godoy realizó su primer formulario”</a>
              <time class="pull-right" >2 dias</time>
            </span>
          </li>
          <li class="feed-item">
            <span class="text">Formulario creado <a href="single-event.php">“La familia Pérez Mora realizó su primer formulario”</a>
              <time class="pull-right" >2 dias</time>
            </span>
          </li>
          <li class="feed-item">
            <span class="text">Solicitud de reporte <a href="single-need.php">“Matrin Burt solicitó el reporte de snapshots de familias”</a>
              <time class="pull-right" >2 dias</time>
            </span>
          </li>
          <li class="feed-item">
            <span class="text">Formulario creado <a href="single-event.php">“La familia Riveros López realizó su primer fomulario”</a>
              <time class="pull-right" >2 dias</time>
            </span>
          </li>
        </ol>
      </div>
    </article>
  </div>
  </div>

  <div class="col-lg-8">
    <div class="col-lg-6">
        <article class="card animated fadeInLeft">
          <div class="card-block">
            <div class="card-title">
              <h4 >Number of families
                <img class="pull-right" src="/static/images/icon_more.png" >
              </h4>
            </div>
            <h6 class="text-muted"></h6>
            <p class="card-text strike">255
            </p>
              <p class="strike-text centered">in total</p>
              <br/>
          </div>
        </article>
    </div>

    <div class="col-lg-6">
        <article class="card animated fadeInLeft">
          <div class="card-block">
            <div class="card-title">
              <h4 >Snapshots Taken
                <img class="pull-right" src="/static/images/icon_more.png" >
              </h4>
            </div>
            <h6 class="text-muted"></h6>
            <div class="text-center">
            <img src="/static/images/dummy_barchart.png" style="width: 200px;  height: 185px;">
          </div>
          </div>
        </article>

    </div>

  <div class="col-lg-12">
      <article class="card animated fadeInLeft">
        <div class="card-block">
          <div class="card-title">
            <h4 >Results Map
              <img class="pull-right" src="/static/images/icon_more.png" >
            </h4>
          </div>
          <h6 class="text-muted"></h6>
          <p class="card-text"></p>
          <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        </div>
      </article>
  </div>

</div>
</div>
