<div class="row">
  <div class="col-lg-4">
    <div class="row">
      <div class="col-lg-12">
        <article class="card">
          <div class="card-block">
            <div class="card-title">
              <h4>Activity Feed
              </h4>
            </div>
            <h6 class="text-muted"></h6>
            <ol class="activity-feed maintenance-watermark">
              <li class="feed-item">
                <span class="text">Form created
                  <a href="single-need.php">The family "Páez Mercado" make first form</a>
                  <time class="pull-right">30 min</time>
                </span>

              </li>
              <li class="feed-item">
                <span class="text">Report request
                  <a href="single-need.php">Jaime Ferreria requested the snapshot report of families</a>
                  <time class="pull-right">45 min</time>
                </span>
              </li>
              <li class="feed-item">
                <span class="text">Form created
                  <a href="single-need.php">The family "Riveros Gonzalez" made first form</a>
                  <time class="pull-right">1 hour ago</time>
                </span>

              </li>
              <li class="feed-item">

                <span class="text">Survey
                  <a href="single-need.php">“Martin Burt make 10 form in Lambare”</a>
                  <time class="pull-right">1 hour ago</time>
                </span>
              </li>
              <li class="feed-item">
                <span class="text">Form created
                  <a href="single-need.php">The family "Páez Mercado" make first form</a>
                  <time class="pull-right">1 hour ago</time>
                </span>

              </li>
              <li class="feed-item">
                <span class="text">Report request
                  <a href="single-need.php">Jaime Ferreria requested the snapshot report of families</a>
                  <time class="pull-right">2 hour ago</time>
                </span>
              </li>
              <li class="feed-item">
                <span class="text">Form created
                  <a href="single-need.php">The family "Riveros Gonzalez" made first form</a>
                  <time class="pull-right">1 day ago</time>
                </span>

              </li>
              <li class="feed-item">

                <span class="text">Survey
                  <a href="single-need.php">“Martin Burt make 5 form in Asuncion”</a>
                  <time class="pull-right">3 day ago</time>
                </span>
              </li>
              <li class="feed-item">

                <span class="text">Survey
                  <a href="single-need.php">“Guillermo Zacur make 15 form in Asuncion”</a>
                  <time class="pull-right">3 day ago</time>
                </span>
              </li>

            </ol>
          </div>
        </article>
      </div>
    </div>

  </div>

  <div class="col-lg-8">
    <div class="row">
      <div class="col-lg-6">
        <article class="card">
          <div class="card-block" style="height: 227px;">
            <div class="card-title">
              <h4>Number of families
              </h4>
            </div>
            <br>
            <h3 class="strike">{{organization.dashboard.numberOfFamilies}}</h3>
            <p class="strike-text centered">in total</p>
          </div>
        </article>
      </div>
      <div class="col-lg-6">
        <article class="card">
          <div class="card-block" style="height: 227px;">
            <div class="card-title">
              <h4>Snapshots Taken
              </h4>
            </div>
            <div class="">
                <div id="bar-snapshots-taken"></div>
                <p class="strike-text centered no-data">No Data</p>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12" style="margin-top:15px;">
        <article class="card">
          <div class="card-block">
            <div class="card-title">
              <h4>Results Map
              </h4>
            </div>
            <h6 class="text-muted"></h6>
            <p class="card-text"></p>
            <div class="empty-widget"></div>
            <div class="maintenance-watermark"></div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
