
<div id="top" class="search-container">


<div class="row">
  <div >
    <div class="form-group">
      <div class="col-sm-2">
        <label class=" control-label">Country </label>
        <select class="form-control m-b" id="country">
              <option selected disabled>Choose</option>

        </select>
      </div>
   </div>
   <div class="form-group">
     <div class="col-sm-2">
       <label class=" control-label">City </label>
       <select class="form-control m-b" id="city">
             <option selected disabled>Choose</option>

       </select>
     </div>
  </div>
      <div class="form-group">
        <div class="col-sm-2">
          <label class=" control-label">Organization </label>
          <select class="form-control m-b" id="organization">
                <option selected disabled>Choose</option>
          </select>
        </div>
     </div>


   <div class="form-group">

     <div class="col-sm-3">
       <label class=" control-label">Last Name/Code</label>
       <input name="data[search]" class="form-control col-md-2" id="search" type="text" placeholder="Last name or code">
     </div>
  </div>
    <div class="form-group">
          <br/>
          <button type="button" id="submit" class="btn btn col-sm-2" style="margin-top: 5px;"><i class="fa fa-search"></i> Search</button>
   </div>

 </div>
</div>

  <div class="row">
    <img class="view-items"  src="/static/images/icon_card_view.png" >
      <img class="view-items"  src="/static/images/icon_list_view.png" >
  </div>
</div>


    <div id="family-list" class="has-spinner">
  </div>
