<div class="list-common-content">
  <div id="top" class="search-container">
    <div class="row">
      <div class="col-md-12">
        <form class="form-inline">
          <div class="form-group">
            <label>{{$t 'family.search.country'}}:</label>
            <select class="form-control" id="country">
              <option selected disabled>{{$t 'family.search.choose'}}</option>
            </select>
          </div>
          <div class="form-group">
            <label class=" control-label">{{$t 'family.search.city'}}: </label>
            <select class="form-control m-b" id="city">
              <option selected disabled>{{$t 'family.search.choose'}}</option>
            </select>
          </div>
          <div class="form-group">
              <label>{{$t 'family.search.organization'}}: </label>
              <select class="form-control" id="organization">
                  <option selected disabled>{{$t 'family.search.choose'}}</option>
              </select>
          </div>
          <div class="form-group">
              <label>{{$t 'family.search.name-code'}}: </label>
              <input name="data[search]" class="form-control" id="search" type="text" placeholder="{{$t 'family.search.name-code-parameter'}}">
          </div>
          <div class="form-group">
            <button type="button" id="submit" class="btn btn"><i class="fa fa-search"></i> {{$t 'general.buttons.search'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="family-list" class="has-spinner">
  </div>
</div>
